html{
    padding: 0 !important;
}
body {
    padding: 0 !important;
}
canvas{
    background-color: grey;
}
body{
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: max-content;
    overflow-y: clip;
}
div.box.h90 {
    height: 90vh;
    z-index: 1;
}
div.box.h95 {
    height: 95vh;
    z-index: 1;
}
button{
    outline: 0;
}
/* dark */
body.dark{
    background-color: black;
}
/*  */
/* label {
    cursor: url('images/hand.svg'),pointer;
} */