.grey {
    color: #888;
}

.night-orange{
    color:#ba8;
}
.green {
    color: #8f8;
}

.bgrey {
    background-color: #888;
}

.bgreen {
    background-color: #8f8;
}
.bnight-orange{
    color:#e0a066;
}

