body {
    display: flex;
    flex-direction: column;
}

div.top-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
}

.menu {
    font-size: 4vmin;
    font-weight: 700;
    padding: 0.5vmin;
    margin-left: 1vmin;
    border: 0;
    text-align: center;
}

a.button-alike {
    text-decoration: none;
    color: black;
}

.green {
    background-color: #aaffaa;
    box-shadow: 5px 5px 0 #30aa50, 5px 5px 0 #30aa50, 5px 5px 0 #30aa50, 5px 5px 0 #30aa50;
}

.pink {
    background-color: #ff8888;
    box-shadow: 5px 5px 0 #aa3050, 5px 5px 0 #aa3050, 5px 5px 0 #aa3050, 5px 5px 0 #aa3050;
}

.grey {
    background-color: #aa8888;
    transform: translate(5px, 5px);
    box-shadow: 2px 2px 0 #aa3050, 2px 2px 0 #aa3050, 2px 2px 0 #aa3050, 2px 2px 0 #aa3050;
}

div.container {
    display: flex;
    margin-top: 1vmin;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

canvas {
    cursor: url('images/pencil1.png'), auto;
}

canvas.eraser {
    cursor: url('images/eraser.png'), auto;
}

@media screen and (orientation: landscape) {
    #canvas-container {
        display: flex;
        flex-basis: 0;
        flex-grow: 4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #toolbar {
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    #color-toolbar {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
    .color-button {
        display: flex;
        flex-basis: 25%;
        border: 0;
        margin: 0.5vmin;
    }
}