body {
    /* cocoa */
    background-color: #c0c0a0;
}

#formdiv {
    padding: 20px 20px;
    background-color: #808080;
}

button.btn.darkness {
    background-color: darkslategray;
    color: white;
}

button.btn.border-dark {
    border-color: darkolivegreen;
}

.green {
    color: #44ff88;
}
.white{
    color:white'
}

.bold {
    font-weight: 900;
}

.rem {
    font-size: 1rem;
}

.remplus {
    font-size: 1.5rem;
}

.tworem {
    font-size: 2rem;
}

.emplus {
    font-size: 1.5em;
}