html {
  font-size: 16px;
}

$cocoa: #c0c0a0;
$mgrey: #808080;
$slategray: #305050;
$mgreen: #44ff88;
$whitishgrey: #d0d0d0;
$pinkishgrey: #e0d0d0;
$olivegreen: #607030;

$erem: 0.125rem; // 1/8 rem
$qrem: 0.25rem;
$hrem: 0.5rem;
$rem: 1rem;
$remq: 1.25rem;
$remplus: 1.5rem;

$nineh: 900;

.green {
  color: $mgreen;
}
.white {
  color: $whitishgrey;
}
.bold {
  font-weight: $nineh;
}
.remfont {
  font-size: $rem;
}
.remplusfont {
  font-size: $remplus;
}
.qrempad {
  padding: $qrem;
}
.hrempad {
  padding: $hrem;
}
.rempad {
  padding: $rem;
}
.rempluspad {
  padding: $remplus;
}
.eremborder {
  border: $erem solid transparent;
  border-radius: 12.5%;
}
.cocoa {
  background-color: $cocoa;
}
.center {
  justify-self: center;
}
.end {
  justify-self: end;
}

div.inlinegrid {
  display: inline-grid;
}
div.box {
  width: 90vw;
  display: inline-grid;
  grid-template-columns: auto 30% 10% 10% 20%;
  padding: $qrem;
  justify-self: center;
}
@media screen and (min-width: 800px) {
  div.box {
    width: 60vw;
  }
}
@media screen and (min-width: 1200px) {
  div.box {
    width: 50vw;
  }
}
@media screen and (min-width: 1600px) {
  div.box {
    width: 40vw;
  }
}
@media screen and (min-width: 2000px) {
  div.box {
    width: 30vw;
  }
}
@media screen and (min-width: 3200px) {
  div.box {
    width: 25vw;
  }
}
body {
  background-color: $whitishgrey;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px auto;
}

button.btn {
  padding: $qrem;
  border: 1px solid black;
  border-radius: 3%;
  font-size: $rem;
}
button.darkness {
  background-color: $slategray;
  color: white;
}

button.border-dark {
  border-color: $olivegreen;
}

input.text {
  line-height: $remq;
  padding: 0;
  border: 1px solid black;
  background-color: $pinkishgrey;
}

#calcform {
  display: grid;
  grid-template-columns: auto;
}
// topbar
/*topbar*/
#topbar {
  width: 90vw;
  padding: $qrem;
  display: inline-grid;
  grid-template-columns: 48% 32% 16%;
  grid-template-rows: 30px auto;
  column-gap: 3rem;
  justify-self: center;
}
#unitbar {
  display: inline-grid;
  grid-template-columns: repeat(3, 33%);
}
#langbar {
  display: inline-grid;
  grid-template-columns: 50% 50%;
}

@media screen and (min-width:1600px){
  #topbar {
    width: 45vw;
  }
}
