#calcformdiv {
    margin-top: 50px;
}

#alertbar {
    background-color: red;
    padding: 5px;
}

#alertbar>p {
    padding: none;
}

#result {
    visibility: hidden;
}

div.row {
    margin: 0 auto;
}