html{
    padding: 0 !important;
}
body {
    padding: 0 !important;
}
canvas{
    background-color: grey;
}
body{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: max-content;
    overflow-y: clip;
}
div.box.h90 {
    height: 90vh;
    z-index: 1;
}
button{
    outline: 0;
}
/* dark */
body.dark{
    background-color: black;
}