div#hangman>svg {
    background-color: grey;
}

div.container {
    display: flex;
    flex-direction: row;
}

div.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
}

@media screen and(orientation:portrait) {
    div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

div#hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5vw;
}

svg>g>text {
    font-size: 4vh;
    font-weight: 700;
    fill: black;
}

g#lettergroup>text {
    cursor: pointer;
}

div#hint>span {
    font-size: 24px;
    font-weight: 700;
}