body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

#container2{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

#countdown, #score, #delta{
    font-size:2em;
    margin-left: 1vw;
}

#start, #hint{
    margin-left: 1vw;
    width:3em;
    font-size:2em;
}
/*
@media handheld and (orientation:portrait){
    #countdown, #score,#start, #hint{
        font-size:2em;
        margin-left: 1vw;
        width:50%;
        }
}*/

@media (orientation:portrait){
    #countdown, #score,#start, #hint{
        font-size:2em;
        margin-left: 1vw;
        margin-top:1vh;
        margin-bottom: 1vh;
        }
    #start,#hint{
        font-size:6em;
        width:80vw;
        }
    #countdown, #score, #delta{
        font-size:6em;
         width:80vw;
        }
}

.diff.glow{
    opacity:1;
    animation: fadeIn 0.8s infinite alternate;
}

@keyframes fadeIn { 
  /*from { opacity: 0; }*/

  0%   { opacity:1; }
  25% { opacity:0; }
  100% { opacity:1; }
}

#table>div>button{
     outline: none;
     border-radius:3%;
}