#canvas_box {
    margin: 0;
    padding: 0;
}

#settings {
    /* width: 50%;
    height: 30%; */
    width: 100px;
    height: 100px;
    background: no-repeat url('../images/settings.svg');
    background-size: contain;
    background-color: transparent;
    border: 0;
}
#fullscreen{
    width: 96px;
    height: 54px;
    background: no-repeat url('../images/fullscreen.svg');
    background-size: contain;
    background-color: transparent;
    border: 0;
}

#controller_left, #controller_right {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-pad {
    background: no-repeat url('../images/arrow.svg');
    background-size: contain;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 0;
    visibility: hidden;
}

#left_pad {
    transform: rotate(-90deg);
}

#down_pad {
    transform: rotate(180deg);
}

#right_pad {
    transform: rotate(90deg);
}

#new {
    background: no-repeat url('../images/snake.svg');
    background-size: contain;
    background-color: transparent;
    background-position-x: 10px;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 900;
    font-size: 2rem;
}

#restart {
    background: no-repeat url('../images/snake3_restart.svg');
    background-size: contain;
    background-color: transparent;
    background-position-x: 0px;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 900;
    font-size: 2rem;
}

/* still for widescreen */

@media screen and (max-width:800px) and (min-aspect-ratio:3/2) {
    #new {}
    #settings {
        width: 60px;
        height: 60px;
    }
    #fullscreen{
        width: 64px;
        height: 36px;
    }
    .arrow-pad {
        width: 60px;
        height: 60px;
        visibility: visible;
    }
}