<!DOCTYPE html>

<html lang="en">

<head>
    <title>gela text example</title>
</head>

<body>
    <main>
        <gela-text></gela-text>
        <gela-text></gela-text>
        <gela-text></gela-text>
        <gela-text></gela-text>
        <gela-text></gela-text>
        <gela-text></gela-text>
    </main>
    <template id="gelatext_template">
        <div>
            gela
        </div>
    </template>

    <script>
        class GelaText extends HTMLElement {
            constructor() {
                super();
                let template = document.getElementById("gelatext_template");
                let templateContent = template.content;

                let clone = templateContent.cloneNode(true);

                const shadowRoot = this.attachShadow({ mode: 'open' });
                shadowRoot.appendChild(clone);
            }
        }
        customElements.define("gela-text", GelaText);
    </script>
</body>



</html>