html {
    font-size: 16px;
}

.green {
    color: #44ff88;
}

.white {
    color: #d0d0d0;
}

.bold {
    font-weight: 900;
}

.cocoa-bg {
    background-color: #c0c0a0;
}

.slategreen-bg {
    background-color: #204040;
    color: white;
}

.center {
    justify-self: center;
}

.end {
    justify-self: end;
}

.inlinegrid {
    display: inline-grid;
}

div.box {
    width: 90%;
    display: inline-grid;
    grid-template-columns: auto 30% 10% 10% 20%;
    padding: 0.25rem;
    justify-self: center;
}

body {
    background-color: #d0d0d0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto;
}

button.btn {
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 3%;
    font-size: 1rem;
}

button.darkness {
    background-color: #305050;
    color: white;
}

button.border-dark {
    border-color: #607030;
}

input.text {
    line-height: 1.25rem;
    padding: 0;
    border: 1px solid black;
    background-color: #e0d0d0;
}

#calcform {
    display: grid;
    width: 90vw;
    justify-self: center;
    grid-template-columns: auto;
}

#results {
    display: grid;
    width: 90vw;
    justify-self: center;
    grid-template-columns: auto;
}

@media screen and (min-width: 800px) {
    #calcform, #results {
        width: 60vw;
    }
}

@media screen and (min-width: 1200px) {
    #calcform, #results {
        width: 50vw;
    }
}

@media screen and (min-width: 1600px) {
    #calcform, #results {
        width: 40vw;
    }
}

@media screen and (min-width: 2000px) {
    #calcform, #results {
        width: 30vw;
    }
}

@media screen and (min-width: 3200px) {
    #calcform, #results {
        width: 25vw;
    }
}

/*topbar*/

#topbar {
    width: 90vw;
    padding: 0.25rem;
    display: inline-grid;
    grid-template-columns: 48% 32% 16%;
    grid-template-rows: 30px auto;
    column-gap: 3rem;
    justify-self: center;
}

#unitbar {
    display: inline-grid;
    grid-template-columns: repeat(3, 33%);
}

#langbar {
    display: inline-grid;
    grid-template-columns: 50% 50%;
}

@media screen and (min-width: 1600px) {
    #topbar {
        width: 45vw;
    }
}