/*for aspect-ratios above we use height for calculations*/
@media screen and (min-aspect-ratio:151/100){
    #line1{
    left:0vh;
    top:40vh;
    height:20vh;
    width:150vh;
    animation-duration:3s;
    animation-name:linef1;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
  }
  @keyframes linef1{
    0%{width:0vh;}
    100%{width:150vh;}
  }
  
  #line2{
    left:65vh;
    top:0vh;
    width:20vh;
    height:100vh;
    animation-duration:3s;
    animation-name:linef2;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
  }
  @keyframes linef2{
    from{height:0vh;}
    to{height:100vh;}
  }
  .hline{
    width:20vh;
    height:10vh;
    animation-duration:3s;
    animation-name:hlinef;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
  }
  @keyframes hlinef{
    from{width:0vh;}
    to{width:20vh;}
  }
  .vline{
    width:10vh;
    height:20vh;
    animation-duration:3s;
    animation-name:vlinef;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
  }
  @keyframes vlinef{
    from{height:0vw;}
    to{height:20vh;}
  }
  /*top left cross*/
  #topLeftHorizontal{
    left:22.5vh;
    top:15vh;
    z-index:3;
  }
  #topLeftVertical{
    left:27.5vh;
    top:10vh;
    z-index:1;
  }
  /*top right cross*/
  #topRightHorizontal{
    left:107.5vh;
    top:15vh;
    z-index:3;
  }
  #topRightVertical{
    left:112.5vh;
    top:10vh;
    z-index:1;
  }
  /*bottom left cross*/
  #bottomLeftHorizontal{
    left:22.5vh;
    top:75vh;
    z-index:3;
  }
  #bottomLeftVertical{
    left:27.5vh;
    top:70vh;
    z-index:1;
  }
  /*bottom right cross*/
  #bottomRightHorizontal{
    left:107.5vh;
    top:75vh;
    z-index:3;
  }
  #bottompRightVertical{
    left:112.5vh;
    top:70vh;
    z-index:1;
  }
  }