body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    flex-flow:column;
}

#container2{
    display:flex;
}
@media screen and (orientation:landscape){
    /*Since browser takes a lot of height*/
    #container{
        width: 40vw;
        margin-bottom:1vh;
    }
    #container2{
        width:75vw;
        flex-flow:row;
    }
}

@media screen and (orientation:portrait){
    body{
        flex-flow:column;
    }
    #container{
        width: 70vw;
    }
    #container2{
        width:70vw;
        flex-flow:column;
    }
}
#table{
    width:100%;
    display:flex;
    flex-flow: column;
}

#table > div{
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#countdown, #score{
    margin-left: 1vw;
}

#countdown, #score,#start{
    flex-grow:1;
}
#countdown, #score,#start, #hint{
    margin-left:1vw;
    flex-basis: 0;
    font-size:4vmin;
}
#hint{
    flex-grow:1.5;
}

button.cell{
    display: inline-flex;
    flex-grow:1;
}

@media (orientation:portrait){
    #countdown, #score,#start, #hint{
        font-size:2em;
        margin-left: 1vw;
        margin-top:1vh;
        margin-bottom: 1vh;
        }
    #start,#hint{
        font-size:4em;
        width:70vw;
        }
    #hint{
        flex-grow:1;
        }
    button.common:first-child{
        margin-top:2vh;
        }
    #countdown, #score, #delta{
        font-size:4em;
         width:80vw;
        }
}

.diff.glow{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes fadeIn { 
  0%   { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
button{
    outline: none;
    padding: 0 !important;
    border:0 !important;
    box-shadow: 0;
}
button::selection{
    outline: none;
}
#table > div > button{
     border-radius:3%;
     margin-left:1px !important;
     margin-bottom:1px !important;
}