.pad5 {
    padding: 2px;
}
.pad10{
    padding:4px;
}

.bg-light-green {
    background-color: #40ff40;
}

.bg-red-custom-1 {
    background-color: #ff4040;
}

.bg-yellow-green {
    background-color: yellowgreen;
}

.bold700 {
    font-weight: 700;
}
/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}