button{
    border:none;
    background-color: #6e6e6e;
    color: #f6f606;
    font-size: 2rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.25rem;
}